
:host {
   display: block;
   width: 15rem;
 }
 
 p {
   margin: 0 0 1rem 0;
   font-size: 0.9rem;
   color: #4f4b53;
 }
 
 #chart {
  background-image: linear-gradient(to bottom, lightgray, darkgray);
   height: 10rem;
   display: flex;
   align-items: flex-end;
   gap: 0.5rem;
   padding: 1rem 1rem 0;
   border-top: 1px solid black;
   border-right: 1px solid black;
   border-bottom: 3px solid black;
   border-left: 1px solid black;
 }
 
 #chart div {
   flex: 1;
   background: linear-gradient(90deg, rgba(255, 0, 0, 0.35), rgba(255, 255, 255, 0.45), rgba(255, 0, 0, 0.35)), linear-gradient(to bottom, red, black 75%);
  border-top: 1px solid red;
  border-left: 1px solid darkred;
  border-right: 1px solid darkred;
 }
 
 @media (min-width: 768px) {
   :host {
     width: 20rem;
   }
 }