<app-places-container title="Available Places">
  @if (loading() && !error()) {
    <img src="loading.gif" alt="" height="100" class="loader">
  }
  @if (error()) {
    <p class="fallback-text">{{ error() }}</p>
  }
  @if (availablePlaces() && !error()) {
  <app-places [places]="availablePlaces()!" (selectPlace)="onSelectPlace($event)" />
  } @else if (availablePlaces()?.length === 0 && !error()) {
  <p class="fallback-text">Unfortunately, no places could be found.</p>
  }
</app-places-container>
