:host {
  display: block;
  width: 15rem;
}

p {
  margin: 0 0 1rem 0;
  font-size: 0.9rem;
  color: #4f4b53;
}

#chart {
  background-image: linear-gradient(to top, gray, rgb(205, 205, 205));
  height: 10rem;
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
  padding: 1rem 0.5rem 0;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 3px solid gray;
  border-left: 1px solid gray;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#chart div { padding: 0.25rem 0.5rem; }
#chart div.red {
  flex: 1;
  color: rgb(55, 0, 0);
  background: linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.34),
      rgba(255, 255, 255, 0.34),
      rgba(255, 0, 0, 0.34)
    ),
    linear-gradient(to bottom, red 20%, darkred 70%, black 110%);
  border-top: 1px solid red;
  border-left: 1px solid darkred;
  border-right: 1px solid darkred;
}
#chart div.blue {
  flex: 1;
  color: lightblue;
  background: linear-gradient(
      90deg,
      rgba(0, 0, 255, 0.34),
      rgba(255, 255, 255, 0.34),
      rgba(0, 0, 255, 0.34)
    ),
    linear-gradient(to bottom, blue 20%, rgb(0, 0, 155) 70%, black 110%);
  border-top: 1px solid blue;
  border-left: 1px solid darkblue;
  border-right: 1px solid darkblue;
}
#chart div.aqua {
  flex: 1;
  color: rgb(0, 55, 55);
  background: linear-gradient(
      90deg,
      rgba(0, 105, 105, 0.34),
      rgba(255, 255, 255, 0.34),
      rgba(0, 105, 105, 0.34)
    ),
    linear-gradient(to bottom, aqua 20%, rgb(0, 155, 155) 70%, black 110%);
  border-top: 1px solid rgb(0, 205, 205);
  border-left: 1px solid rgb(0, 139, 139);
  border-right: 1px solid rgb(0, 139, 139);
}
#chart div.lime {
  flex: 1;
  color: rgb(0, 55, 0);
  background: linear-gradient(
      90deg,
      rgba(0, 105, 0, 0.34),
      rgba(255, 255, 255, 0.34),
      rgba(0, 105, 0, 0.34)
    ),
    linear-gradient(to bottom, lime 20%, green 70%, black 110%);
  border-top: 1px solid lime;
  border-left: 1px solid green;
  border-right: 1px solid green;
}
#chart div.green {
  flex: 1;
  color: rgb(0, 55, 0);
  background: linear-gradient(
      90deg,
      rgba(0, 105, 0, 0.34),
      rgba(255, 255, 255, 0.34),
      rgba(0, 105, 0, 0.34)
    ),
    linear-gradient(to bottom, green 70%, black 110%);
  border-top: 1px solid green;
  border-left: 1px solid darkgreen;
  border-right: 1px solid darkgreen;
}
#chart div.gray {
  flex: 1;
  background: linear-gradient(
      90deg,
      rgba(105, 105, 105, 0.34),
      rgba(255, 255, 255, 0.34),
      rgba(105, 105, 105, 0.34)
    ),
    linear-gradient(to bottom, darkgray, black 75%);
  border-top: 1px solid gray;
  border-left: 1px solid rgb(105, 105, 105);
  border-right: 1px solid rgb(105, 105, 105);
}

@media (min-width: 768px) {
  :host {
    width: 20rem;
  }
}
