/* :host.wrapper-item {
   width: 100% !important;
}
:host p { font-size: 0.65em; margin: 0; }
:host p.open { color: green; }
:host p.closed { color: red; }
:host h5 {
   font-size: 0.95em;
   text-align: center;
   margin: 0;
} */

article {
   border-radius: 4px;
   background-color: rgb(211, 238, 255);
   color: navy;
 }
 
 h3 {
   padding: 0.5rem;
   margin: 0;
   font-size: 0.9rem;
   display: flex;
   gap: 0.05rem;
   align-items: center;
 }
 
 h3 div {
   width: 0.9rem;
   height: 0.9rem;
   border-radius: 50%;
 }

 .ticket-none {
  background-color: gray;
  background-image: radial-gradient(closest-corner at 35% 40%, rgba(255, 255, 255, 0.65) 15%, lightgray 60%, gray 100%);
  border: 1px solid rgb(65, 65, 65);
}
 
 .ticket-closed {
  background-color: red;
   background-image: radial-gradient(closest-corner at 35% 40%, rgba(255, 255, 255, 0.65) 15%, red 60%, rgb(185, 0, 0) 100%);
   border: 1px solid rgb(85, 0, 0);
 }
 
 .ticket-open {
   background-color: lime;
   background-image: radial-gradient(closest-corner at 35% 40%, rgba(255, 255, 255, 0.65) 15%, lime 60%, rgb(0, 185, 0) 100%);
   border: 1px solid rgb(0, 85, 0);
 }
 
 .text {
   text-align: left;
 }
 
 button {
   flex: 1;
   width: 100%;
   font: inherit;
   background: transparent;
   border: none;
   color: navy;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0.5rem;
 }
 
 button span:first-child {
   margin-bottom: 0.1rem;
 }
 
 button span:last-child {
   width: 1rem;
 }
 
 p {
   margin: 0;
   padding: 1rem;
   font-size: 0.9rem;
 }
 
 p:has(button) {
   padding-top: 0;
 }
 
 p button {
   padding: 0.5em;
   width: auto;
   display: inline;
   font-size: 0.75rem;
 }
 
 p button:hover {
   color: blue;
 }

